Source: camx-firmware-hamoa
Section: non-free-firmware/libs
Maintainer: Qualcomm Camera Team <camx.deb.maintainers@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: http://support.cdmatech.com
Vcs-Browser: https://github.com/qualcomm-linux/pkg-camx-firmware-hamoa
Vcs-Git: https://github.com/qualcomm-linux/pkg-camx-firmware-hamoa.git

Package: camx-firmware-hamoa
Architecture: arm64
Depends:
 ${misc:Depends},
Description: Qualcomm CamX camera stack firmware
 This package contains the camera firmware file for the Qualcomm Hamoa
 platform.
